.titre-logo {
  font-size: 10px;
}

.dropdownleft {
  left: auto;
  right: 0;
}

.content {
  display: flex;

  .sidebar {
    margin-top: 2%;
  }

  .main-content {
    margin-top: 2%;
    margin-bottom: 2%;
  }

}

footer {
  text-align: center;
}